<p>
  To create a new Observable, you can create a new Observable instance. The Observabale constructor takes a suscriber
  function as an argument.
</p>
<p>The suscriber function allow us to use the methods:</p>
<ul class="list">
  <li>next: emit a value like a number, string, object....</li>
  <li>error: emit an error.</li>
  <li>complete: complete the observable. It stops emitting more values.</li>
</ul>
<p>It is recomended to wrap with a try/catch to throw an error if you catch an error or exception.</p>
<p>
  Also, when unsuscribing from the observable, we use the return. Really usefull to complete the observable (prevent the
  observable to continue emiting values), clean intervals...
  <a href="observables/disposing">(See Disposing)</a>
  .
</p>
<div class="center">
  <code class="exampleCode">
    <pre appHighlight class="language-javascript creating">{{ creating.example }}</pre>
    <div class="vertical-line"></div>
    <pre appHighlight class="language-javascript creating">{{ creating.exampleAsync }}</pre>
    <div class="vertical-line"></div>
    <pre appHighlight class="language-javascript creating">{{ creating.exampleTryCatch }}</pre>
  </code>
</div>
<p>
  However, most of the observables are created using the creation operators.
  <a href="operators">(See Operatos)</a>
</p>
