@use '/src/styles/var.scss' as v;

.page {
  nav {
    background-color: v.$color-bg-mid;
    color: v.$color-text-light;
    grid-column-start: nav;
    height: 100%;
    * {
      padding: 0 0 0 v.$padding-general;
    }
    h1 {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  main {
    grid-column-start: main;
    overflow-y: auto;
    padding: v.$padding-elements;
    * {
      margin: v.$margin-elements 0;
    }
    p:first-child {
      font-size: 3rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
