<div class="page">
  <nav>
    <h1>Operators</h1>
    <div *ngFor="let section of creationOperators" class="section-box">
      <app-link [dataLink]="section"></app-link>
    </div>
  </nav>
  <main>
    <p>operators</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales
      leo in elit luctus, sed tempus libero venenatis. Pellentesque nulla
      sapien, mollis quis sollicitudin a, sollicitudin a leo. Mauris odio
      libero, condimentum eget libero at, ultricies sagittis ante. Donec rutrum
      iaculis sem, quis semper nisi semper accumsan. Integer vitae facilisis
      leo, a scelerisque sem. Vestibulum vel rhoncus odio, sed aliquam justo.
      Nunc eu condimentum arcu. Maecenas consequat feugiat aliquam. Pellentesque
      rutrum lacus nec posuere vestibulum. Nulla aliquam est sed venenatis
      tempor. In commodo tortor vel dolor dignissim aliquam. Phasellus egestas
      sem vitae mauris congue, non sagittis est ultricies. Quisque pharetra
      lacus blandit magna sollicitudin auctor. Morbi ultricies cursus eros,
      imperdiet finibus dui fringilla at. Quisque ornare velit condimentum
      tristique fermentum. Morbi lacinia viverra fringilla. Nullam vitae dui vel
      ante consequat congue ut eget enim. Integer sapien lacus, tempor ut tellus
      sit amet, aliquet placerat lorem. Curabitur in fringilla mi, non fermentum
      arcu. In varius bibendum ipsum vitae mollis. Integer et vehicula nisi.
      Nullam ut facilisis nisl, quis posuere tortor. Vivamus pellentesque
      scelerisque condimentum. Aliquam sollicitudin pharetra bibendum. Nulla
      porta lacus eget orci dapibus, a tristique nulla malesuada. Sed dignissim
      tincidunt turpis, quis pellentesque velit. Fusce nisi risus, aliquam sit
      amet ullamcorper sit amet, tincidunt at lorem. In sapien libero, gravida
      quis aliquam sit amet, pharetra eu tellus. Vestibulum aliquet erat odio,
      eget vestibulum sapien fermentum at. Morbi bibendum id est eu iaculis. Sed
      pellentesque odio sit amet nisl blandit, et consectetur eros pharetra. Sed
      sit amet quam ligula. Ut nec est et quam aliquet interdum in non ipsum.
      Etiam vehicula posuere ex, quis gravida ligula vehicula id. Fusce accumsan
      consectetur purus id gravida. Cras purus justo, congue ac orci et,
      vulputate facilisis massa. In hac habitasse platea dictumst. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Proin at sapien est. Duis ac
      commodo lacus, et mollis turpis. Phasellus vel elit convallis dolor
      ullamcorper commodo elementum quis libero. Duis nec neque et felis
      sagittis iaculis sit amet eu lorem. Cras eleifend egestas eros, vel
      elementum massa sagittis vitae. Etiam fringilla nec enim ac placerat.
      Nulla facilisi. Cras interdum, arcu eu ultricies suscipit, neque sapien
      porta diam, sit amet ornare neque mauris quis augue. Etiam gravida, turpis
      vel fermentum venenatis, nibh lorem posuere tellus, posuere sollicitudin
      orci est ut nunc. Cras sit amet diam vestibulum, ultrices leo ac, placerat
      urna. Sed lobortis mi quis elit gravida pulvinar. Curabitur vehicula ex
      imperdiet, aliquam sapien sit amet, lobortis dolor. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Sed id metus eget ligula interdum placerat.
    </p>
  </main>
</div>
