@use '/src/styles/var.scss' as v;

.page {
  app-dynamic-nav {
    grid-column-start: nav;
  }

  main {
    grid-column-start: main;
    overflow-y: auto;
    padding: v.$padding-elements;
    * {
      margin: v.$margin-elements 0;
    }
    p:first-child {
      font-size: 3rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
