@use '/src/styles/var.scss' as v;
h1 {
  font-size: 2rem;
}

section {
  align-items: flex-start;
  display: flex;
  margin: v.$margin-general 0;

  &.section-concept {
    .concept-definition {
      font-size: 1.1rem;
      margin-right: v.$margin-elements;
    }

    img {
      background-color: v.$color-bg-Ultralight;
      height: 7rem;
      width: 70rem;
    }
  }

  &.section-demo {
    height: 20rem;
  }
}
