<h3 *ngIf="code.title">- {{ code.title }} -</h3>
<div
  [ngClass]="[
    'visual-demo-container',
    code.added.label !== 'none' ? 'added' : '',
    (code.added.label === 'input' || code.added.label === 'mix') && code.added.numberInputs && code.added.numberButtons
      ? 'AddInputs' +
        (code.added.numberButtons > 0 ? code.added.numberInputs + code.added.numberButtons : code.added.numberInputs)
      : ''
  ]"
  #addCode
>
  <ng-template [ngIf]="code.added.label !== 'none'">
    <ng-container [ngSwitch]="code.added.label">
      <div class="added-element">
        <ng-template [ngSwitchCase]="'button'">
          <ng-container *ngTemplateOutlet="AddButtonsTemplate"></ng-container>
        </ng-template>
        <ng-template [ngSwitchCase]="'input'">
          <ng-container *ngTemplateOutlet="AddInputsTemplate"></ng-container>
        </ng-template>
        <ng-template [ngSwitchCase]="'mix'">
          <ng-container *ngTemplateOutlet="AddInputsTemplate"></ng-container>
          <ng-container *ngTemplateOutlet="AddButtonsTemplate"></ng-container>
        </ng-template>
      </div>
    </ng-container>
  </ng-template>
  <div class="demo-code demo exampleCode" #demoCode>
    <code>
      <pre appHighlight class="language-javascript">{{ code.codeString }}</pre>
    </code>
  </div>
  <div
    class="demo-console demo"
    #demoConsole
    [attr.wait]="code.wait ? code.wait : null"
    [style.maxHeight.px]="
      code.wait
        ? demoCode.offsetHeight + addCode.offsetHeight - (code.added.label !== 'none' ? 8 : 40)
        : this.demoConsole.offsetHeight
    "
  >
    <p *ngIf="code.wait">Please click to run</p>
    <samp>
      <pre>{{ codeDemoConsole }}</pre>
    </samp>
  </div>
  <div class="buttons">
    <button class="button-restart" (click)="restart()" [disabled]="!runFinish">Restart</button>
    <button class="button-stop" (click)="stop()" [disabled]="code.wait || runFinish">Stop</button>
  </div>
</div>

<ng-template #AddInputsTemplate>
  <label
    #added
    *ngFor="let numb of [].constructor(code.added.numberInputs); let i = index"
    class="secondary-input label-{{ code.wait || runFinish ? 'disabled' : 'enable' }}"
  >
    <span>
      {{ code.added.namesInputs && code.added.namesInputs[i] ? code.added.namesInputs[i] : 'Input ' + (i + 1) }}:
    </span>
    <input
      [type]="code.added.typeInputs && code.added.typeInputs[i] ? code.added.typeInputs[i] : 'text'"
      min="0"
      id="{{
        code.added.namesInputs && code.added.namesInputs[i]
          ? code.added.namesInputs[i].toLowerCase()
          : 'input-' + (i + 1)
      }}"
      [placeholder]="
        code.added.namesInputs && code.added.namesInputs[i] ? code.added.namesInputs[i] : 'Write something'
      "
      [disabled]="code.wait || runFinish"
    />
  </label>
</ng-template>

<ng-template #AddButtonsTemplate>
  <button
    #added
    *ngFor="let numb of [].constructor(code.added.numberButtons); let i = index"
    id="{{ code.added.namesButtons && code.added.namesButtons[i] ? code.added.namesButtons[i] : 'button-' + i }}"
    class="secondary-button"
    [disabled]="code.wait || runFinish"
  >
    {{ code.added.namesButtons && code.added.namesButtons[i] ? code.added.namesButtons[i] : 'Button' }}
  </button>
</ng-template>
