@use '/src/styles/var.scss' as v;

* {
  box-sizing: border-box;
  font-family: 'Fredoka';
}

body {
  background-color: white;
  font-family: 'Fredoka';
  height: 100vh;
  overflow-y: hidden;
  text-align: justify;
  text-justify: inter-word;
  width: 100vw;
  * {
    font-size: 18px;
  }
  app-root {
    display: grid;
    grid-template-areas:
      'header'
      'router'
      'page'
      '.';
    grid-template-columns: auto;
    grid-template-rows: 3rem 0 1fr 0;

    height: 100%;

    .home-header {
      grid-area: header;
    }
    .page {
      grid-area: page;
      height: calc(100vh - 3rem);
    }
    router-outlet {
      grid-area: router;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: v.$padding-general 0;
  }
}

.page {
  align-self: stretch;
  display: grid;
  grid-column-start: 1;
  grid-row-start: router;
  grid-template-columns: [nav] 14rem [main] 1fr;
  height: 100%;
  width: 100%;
}

button {
  background-color: v.$color-bg-light;
  background-color: v.$color-bg-light;
  border: 0;
  border: 0;
  border-radius: 0.5rem;
  color: v.$color-text-light;
  color: v.$color-text-light;
  height: 100%;
  margin: 0 0.2rem;
  padding: 0 v.$padding-elements;
  width: fit-content;
  &:disabled {
    background-color: v.$color-bg-Ultralight;
  }
  &:not(:disabled):hover {
    background-color: v.$color-bg-mid;
    cursor: pointer;
  }
  &.secondary-button {
    background-color: white;
    border: 0.2rem solid v.$color-bg-light;
    color: v.$color-text-dark;
    &:not(:disabled):hover {
      background-color: v.$color-bg-light;
      color: v.$color-text-light;
    }
    &:disabled {
      border-color: v.$color-bg-Ultralight;
      color: v.$color-bg-Ultralight;
    }
  }
}

label {
  &.label-disabled {
    color: v.$color-bg-Ultralight;
  }
}

input {
  border: 0.1rem solid v.$color-bg-light;
  height: min-content;
  margin: 0 0 0 0.5rem;
  outline: 0;
  &:focus {
    border-radius: 0.2rem;
    outline: 0.1rem solid v.$color-bg-light;
  }
  &:disabled {
    border: 0.1rem solid v.$color-bg-Ultralight;
    &::placeholder {
      color: v.$color-bg-Ultralight;
    }
  }
}

hr {
  border: 0;
  border-top: 0.15rem dotted v.$color-bg-Ultralight;
  margin-bottom: v.$margin-content;
}
