$color-bg-Ultradark: #7e1132;
$color-bg-dark: #b41847;
$color-bg-mid: #d01c52;
$color-bg-light: #e74b74;
$color-bg-Ultralight: #f5b7c7;
$color-text-light: white;
$color-text-dark: black;

$spacer0-5: 0.5rem;
$spacer1-0: 1rem;
$spacer1-5: 1.5rem;
