$color-bg-dark: #7e1132;
$color-bg-mid: #d01c52;
$color-bg-light: #e74b74;
$color-bg-Ultralight: #f5b7c7;
$color-text-light: white;
$color-text-dark: black;

$margin-general: 0.5rem;
$margin-elements: 1rem;
$margin-content: 1.5rem;
$padding-general: 0.5rem;
$padding-elements: 1rem;
$padding-content: 1.5rem;
