@use '/src/styles/var.scss' as v;

.description {
  font-size: 1.2rem;
}
.note {
  margin: v.$margin-elements 0;
}

dl {
  div {
    display: grid;
    grid-template-areas:
      'description .'
      'list exampleCode';
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto;
    .description-kind {
      font-size: 1.3rem;
      font-weight: 600;
      grid-area: description;
      margin-top: v.$margin-general;
      text-decoration: underline;
      &dt::after {
        content: ':';
      }
    }
    ul {
      font-size: 1.1rem;
      grid-area: list;
      line-height: 1.4rem;
      list-style-position: outside;
      margin: 0 v.$margin-content;
      &.list-level1 {
        list-style: disc;
        margin-top: v.$margin-general;
      }
      &.list-level2 {
        list-style: circle;
      }
    }
    .exampleCode {
      border: 0.2rem solid v.$color-bg-light;
      border-radius: 1rem;
      display: flex;
      font-family: 'Arial';
      font-size: 1rem;
      grid-area: exampleCode;
      justify-content: center;
      line-height: 1.1rem;
      padding: v.$padding-elements;
      place-self: start stretch;
      width: 100%;
      pre {
        width: 100%;
      }
    }
  }
}
