@use '/src/styles/var.scss' as v;

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: v.$spacer1-5;
  .list-sections {
    display: flex;
    flex-wrap: wrap;
    gap: v.$spacer1-0;
    justify-content: center;
    margin: v.$spacer1-5;
    width: 100%;
    .section-box {
      background-color: v.$color-bg-mid;
      border-radius: 0.5rem;
      display: flex;
      flex-basis: 20%;
      font-size: 1.2rem;
      height: 3em;
      justify-content: center;
      // max-width: 230px ;
      width: fit-content;
      z-index: 2;
      &:hover {
        background-color: v.$color-bg-light;
      }
    }
  }
}
