@use '/src/styles/var.scss' as v;

:host {
  background-color: v.$color-bg-mid;
  overflow-y: auto;
}

nav {
  color: v.$color-text-light;
  height: auto;
  padding-bottom: v.$spacer1-5;
  width: 100%;
  .nav-head {
    align-items: center;
    display: flex;
    .nav-head-name {
      background-color: v.$color-bg-mid;
      font-size: 1.3rem;
      font-weight: 500;
      padding: v.$spacer0-5;
    }
    a {
      color: rgba($color: v.$color-text-light, $alpha: 1);
    }
  }

  .nav-section {
    .nav-section-name1 {
      font-size: 1.2rem;
      font-weight: 500;
      padding: v.$spacer0-5 calc(2 * v.$spacer0-5);
    }
    .nav-section-2 {
      .nav-section-name2 {
        font-size: 1.1rem;
        font-weight: 400;
        padding: v.$spacer0-5 calc(3 * v.$spacer0-5);
      }
    }
  }
}
.nav-label {
  border-top: 0.5px dotted v.$color-bg-Ultralight;
  height: calc(2 * v.$spacer0-5 + 1rem);
  &.selected-true {
    background-color: v.$color-bg-dark;
  }
  &:last-child {
    border-bottom: 1px dotted v.$color-bg-Ultralight;
    margin-bottom: 1rem;
  }
  &.selected-false:hover {
    background-color: rgba($color: v.$color-bg-light, $alpha: 1);
  }
}

summary {
  white-space: pre;
}
